@import url("https://fonts.cdnfonts.com/css/pp-neue-montreal");
@font-face {
  font-family: "Speltale";
  src: url("assets/SpeltaleFont-Demo-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  cursor: none;
  overflow: hidden;
}

@media only screen and (max-width: 400px) {
  body {
    overflow: hidden;
  }
}

.hero-home {
  position: relative;
  background-color: #101010;
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
  overflow: hidden;

  background-color: rgb(112, 26, 117);
  background-image: radial-gradient(
      at 0.28% 65.33%,
      rgb(17, 24, 39) 0,
      transparent 97%
    ),
    radial-gradient(at 10.01% 100.67%, rgb(17, 24, 39) 0, transparent 67%),
    radial-gradient(at 103.26% -3%, rgb(244, 114, 182) 0, transparent 65%),
    radial-gradient(at 61% 5%, rgb(168, 85, 247) 0, transparent 70%),
    radial-gradient(at 61.34% 74.17%, rgb(134, 25, 143) 0, transparent 71%),
    radial-gradient(at 13.88% 21.67%, rgb(88, 28, 135) 0, transparent 100%);
}

@media only screen and (max-width: 400px) {
  .hero-home {
    width: 100svw;
    height: 100svh;
    overflow: hidden;
  }
}

.BackgroundGridHome {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  opacity: 0;
  animation: fadeinLoad 4s cubic-bezier(0.65, 0, 0.35, 1) 1s forwards,
    scaleUp 4s cubic-bezier(0.65, 0, 0.35, 1) 1s forwards;
}

.GridHome {
  width: 100%;
  height: 100%;
  opacity: 0.2;
}

@media only screen and (max-width: 400px) {
  .BackgroundGridHome {
    transform: scale(2);
  }
}

p {
  font-family: "PP Neue Montreal", sans-serif;
  color: #f05aa1;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.01rem;
  position: absolute;
  text-align: center;
  z-index: 1;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  mix-blend-mode: screen;
  animation: fadeinLoad 6s cubic-bezier(0.65, 0, 0.35, 1) 2s forwards;
}

h1 {
  color: #f05aa1;
  font-family: Speltale;
  font-size: 150px;
  font-weight: 500;
  line-height: 150px;
  letter-spacing: 0.05rem;
  position: absolute;
  text-align: center;
  z-index: 1;
  top: 42vh;
  left: 27vw;
  transform: translate(-50%, -50%);
  mix-blend-mode: screen;
  transform-origin: center;
  animation: fadeinLoad 3.2s cubic-bezier(0.65, 0, 0.35, 1) 0.9s forwards,
    scaleUp 3.2s cubic-bezier(0.65, 0, 0.35, 1) 0.9s forwards;
  opacity: 0;
}

@media only screen and (max-width: 400px) {
  h1 {
    color: #f05aa1;
    text-align: center;
    font-family: Speltale;
    font-size: 100px;
    font-style: normal;
    font-weight: 500;
    line-height: 75px;
    text-transform: uppercase;
    top: 28vh;
    left: 20vw;
    transform: translate(-50%, -50%);
  }
}

.Credits {
  position: absolute;
  top: 5vh;
  width: 100%;
}

@media only screen and (max-width: 400px) {
  .Credits {
    color: #f05aa1;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    position: absolute;
    transform: translate(-50%, -50%);
    margin-left: 0px;
    top: 40px;
  }
}

.Info {
  position: absolute;
  top: 95vh;
  width: 100%;
}
@media only screen and (max-width: 400px) {
  .Info {
    color: #f05aa1;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    position: absolute;
    transform: translate(-50%, -50%);
    margin-left: 0px;
    top: 95svh;
  }
}

.Episode {
  position: absolute;
  margin-left: 480px;
  top: 52vh;
}

@media only screen and (max-width: 400px) {
  .Episode {
    color: #f05aa1;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 73%;
    margin-left: 0px;
  }
}

.GlassCircle {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 300px;
  margin: 0;
  transform: translate(-50%, -50%);
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0)
  );
  border: 1px solid rgba(255, 255, 255, 0.03);
  border-radius: 50%;
  box-shadow: 0 8px 32px 0 rgba(32, 26, 35, 0.4),
    inset -20px -10px 100px rgba(27, 2, 78, 0.3),
    inset 5px 10px 10px rgba(255, 255, 255, 0.9),
    inset -20px -5px 10px rgba(67, 67, 67, 0.2);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  animation: scaleDown 2.5s cubic-bezier(0.65, 0, 0.35, 1) 0.1s forwards,
    fadeOut 1.5s cubic-bezier(0.65, 0, 0.35, 1) 0.1s forwards;
}

/* Orbit*/

.wrap {
  margin: 0 auto;
  line-height: 6rem;
  text-align: center;
}

.loader {
  position: absolute;
  margin: 0 auto 3rem auto;
  overflow: hidden;
  opacity: 1;
  animation: scaleDown 2.5s cubic-bezier(0.65, 0, 0.35, 1) 0.1s forwards,
    fadeOut 1.1s cubic-bezier(0.65, 0, 0.35, 1) 0.1s forwards;
}

.loader > div {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.orbit {
  height: 21rem;
  width: 21rem;
  top: 32%;
  left: 21%;
  bottom: 0;
  right: 0;
  margin: auto;
  overflow: visible;
  border-radius: 50%;
}

.orbit > div {
  top: 2.5rem;
  left: 2.5rem;
  font-size: 1rem;
  height: 15rem;
  width: 15rem;
  transform-origin: center center;
}

.orbit > div::before {
  position: absolute;
  left: calc(50% - 0.5em);
  display: block;
  content: "";
  height: 1em;
  width: 1em;
  border-radius: 50%;
  transform: scale(1);
}

.orbit > div:nth-child(1)::before {
  background-color: #f05aa1;
}
.orbit > div:nth-child(2)::before {
  background-color: #a25af0;
}

.orbit > div:nth-child(3)::before {
  background-color: #5aa5f0;
}

.orbit > div:nth-child(4)::before {
  background-color: #f05a89;
}

.go .loader.orbit > div {
  animation: loading-orbit 6s infinite linear;
}

.go .loader.orbit > div::before {
  animation: loading-orbit-before 2s infinite ease-in-out;
}

.loader.orbit > div:nth-child(1) {
  animation-delay: 0s;
}
.loader.orbit > div:nth-child(2) {
  animation-delay: -0.75s;
}
.loader.orbit > div:nth-child(3) {
  animation-delay: -1.5s;
}
.loader.orbit > div:nth-child(4) {
  animation-delay: -2.25s;
}

.loader.orbit > div:nth-child(1)::before {
  animation-delay: 0s;
}
.loader.orbit > div:nth-child(2)::before {
  animation-delay: -0.5s;
}
.loader.orbit > div:nth-child(3)::before {
  animation-delay: -1s;
}
.loader.orbit > div:nth-child(4)::before {
  animation-delay: -1.5s;
}

@keyframes loading-orbit {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loading-orbit-before {
  0% {
    height: 1em;
    width: 1em;
    transform: translate3d(0, 0, 0);
    z-index: 5;
  }
  5% {
    height: 1.25em;
    width: 1.25em;
  }
  25% {
    height: 2em;
    width: 2em;
    z-index: 10;
  }
  50% {
    transform: translate3d(1rem, 15rem, 0);
    z-index: 0;
    height: 1em;
    width: 1em;
  }
  100% {
    transform: translate3d(0, 0, 0);
    z-index: 0;
    height: 1em;
    width: 1em;
  }
}

.viewport-child-child {
  width: 100svw;
  height: 100svh;
  float: left;
  object-fit: cover;
  pointer-events: all;
}

@media only screen and (max-width: 400px) {
  .viewport-child-child {
    width: 100svw;
    height: 100svh;
    overflow: hidden;
  }
}

.HeroImage {
  border-radius: 32px;
  width: 50vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 0;
  filter: drop-shadow(40px 40px 70px rgba(27, 4, 66, 0.6));
  animation: fadeinLoad 4s cubic-bezier(0.65, 0, 0.35, 1) 1s forwards,
    scaleUp 4s cubic-bezier(0.65, 0, 0.35, 1) 1s forwards;
  opacity: 0;
  z-index: 2;
  position: relative;
}

@media screen and (max-width: 400px) {
  .HeroImage {
    overflow: hidden;
    border-radius: 12px;
  }
}

@keyframes fadeinLoad {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes scaleUp {
  from {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
}

.HeroImage1 {
  top: -500px;
  left: -1000px;
}

@media screen and (max-width: 400px) {
  .HeroImage1 {
    height: auto;
    width: 350px;
    top: 530px;
    left: 250px;
  }
}

.HeroImage2 {
  top: -400px;
  left: -100px;
}
@media screen and (max-width: 400px) {
  .HeroImage2 {
    height: auto;
    width: 350px;
    top: -170px;
    left: 290px;
  }
}

.HeroImage3 {
  top: -2300px;
  left: 600px;
}
@media screen and (max-width: 400px) {
  .HeroImage3 {
    height: auto;
    width: 350px;
    top: -250px;
    left: -280px;
  }
}
.HeroImage4 {
  top: -2800px;
  left: -1300px;
}
@media screen and (max-width: 400px) {
  .HeroImage4 {
    height: auto;
    width: 350px;
    top: 120px;
    left: -280px;
  }
}
.HeroImage5 {
  top: -3500px;
  left: 1200px;
}
@media screen and (max-width: 400px) {
  .HeroImage5 {
    height: auto;
    width: 350px;
    top: -960px;
    left: -260px;
  }
}

.HeroImage6 {
  top: -3650px;
  left: -1250px;
}

@media screen and (max-width: 400px) {
  .HeroImage6 {
    height: auto;
    width: 350px;
    top: -110px;
    left: 150px;
  }
}
.HeroImage7 {
  top: -7000px;
  left: 0px;
}

.HeroImage img,
video {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  border-radius: inherit;
}

@media screen and (max-width: 400px) {
  .HeroImage img,
  video {
    width: 300px;
    height: 200px;
    object-fit: cover;
  }
}

/* Cursor */

#dragMeImage {
  display: none;
  position: fixed;
  cursor: none;
  /* pointer-events: none; */
  z-index: 1000;
  mix-blend-mode: screen;
}

.basic-protect * {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Mobile Titel */

@media screen and (max-width: 400px) {
  .show-on-desktop {
    display: none;
  }
}

@media screen and (min-width: 400px) {
  .hide-on-desktop {
    display: none;
  }
}

@keyframes scaleDown {
  from {
    transform: translate(-50%, -50%) scale(1);
  }
  to {
    transform: translate(-50%, -50%) scale(10);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

audio::-webkit-media-controls-play-button:hover,
audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-panel,
audio::-webkit-media-controls-volume-button,
audio::-webkit-media-controls-mute-button,
audio::-webkit-media-controls-time-remaining-display,
audio::-webkit-media-controls-toggle-closed-captions-button {
  display: none;
}
