@font-face {
  font-family: "Speltale";
  src: url("assets/SpeltaleFont-Demo-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@import url("https://fonts.cdnfonts.com/css/pp-neue-montreal");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.hero-loading {
  position: relative;
  background-color: #d8d7d7;
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
  overflow: hidden;
}

.BackgroundGrid {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.Grid {
  width: 100%;
  height: 100%;
  opacity: 1;
}

.ExperiencerDisks {
  z-index: 1;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.4);
}

.circle-base {
  fill: #f0f0f0;
  stroke: #ffffff;
  stroke-width: 0.5px;
  cursor: pointer;
  transition: transform 1s ease-in-out;
  transform-origin: center;
  animation: pulsate 10s ease-in-out infinite;
}

@keyframes pulsate {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}

.circle-base:hover {
  transform: scale(1.05);
  animation-play-state: paused;
}

.filter-drop-shadow {
  filter: drop-shadow(30px 30px 40px rgba(101, 91, 96, 0.3))
    drop-shadow(-31px -31px 40px rgba(255, 255, 255, 0.6))
    drop-shadow(4px 4px 10px rgba(255, 255, 255, 0.6));
}

p {
  font-family: "PP Neue Montreal", sans-serif;
  color: #1b1c1e;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.01rem;
  position: absolute;
  margin-left: 40px;
  z-index: 3;
  text-align: left;
}

h1 {
  top: 43%;
  color: #1b1c1e;
  font-family: Speltale;
  font-size: 48px;
  font-weight: 500;
  line-height: 52px;
  letter-spacing: 0.05rem;
  margin-left: 40px;
  position: absolute;
  text-align: left;
  z-index: 3;
}

.Credits {
  top: 40px;
}

.Info {
  bottom: 40px;
}

.lds-roller,
.lds-roller div,
.lds-roller div:after {
  box-sizing: border-box;
}
.lds-roller {
  z-index: 1;
  position: absolute;
  top: 41%;
  left: 41%;
  transform: translate(-50%, -50%) scale(1.4);
  display: inline-block;
  width: 80px;
  height: 80px;
  transform: scale(2.5);
  filter: drop-shadow(30px 30px 40px rgba(101, 91, 96, 0.3))
    drop-shadow(-31px -31px 40px rgba(255, 255, 255, 0.6))
    drop-shadow(4px 4px 10px rgba(255, 255, 255, 0.6));
}
.lds-roller div {
  animation: lds-roller 2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #fbfeff;
  margin: -3.6px 0 0 -3.6px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 62.62742px;
  left: 62.62742px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 67.71281px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 70.90963px;
  left: 48.28221px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 70.90963px;
  left: 31.71779px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 67.71281px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 62.62742px;
  left: 17.37258px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12.28719px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
