@font-face {
  font-family: "Speltale";
  src: url("assets/SpeltaleFont-Demo-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@import url("https://fonts.cdnfonts.com/css/pp-neue-montreal");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.hero-loading {
  position: relative;
  background-color: #f0f0f0;
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
  overflow: hidden;
}

.BackgroundGrid {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.Grid {
  width: 100%;
  height: 100%;
  opacity: 0.5;
}

.ExperiencerDisks {
  z-index: 1;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.4);
}

.circle-base {
  fill: #f0f0f0;
  stroke: #ffffff;
  stroke-width: 0.5px;
  cursor: pointer;
  transition: transform 1s ease-in-out;
  transform-origin: center;
  animation: pulsate 10s ease-in-out infinite;
}

@keyframes pulsate {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}

.circle-base:hover {
  transform: scale(1.05);
  animation-play-state: paused;
}

.filter-drop-shadow {
  filter: drop-shadow(30px 30px 40px rgba(91, 93, 101, 0.2))
    drop-shadow(-31px -31px 40px rgba(255, 255, 255, 0.9))
    drop-shadow(4px 4px 10px rgba(255, 255, 255, 0.9));
}

p {
  font-family: "PP Neue Montreal", sans-serif;
  color: #f05aa1;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.01rem;
  position: absolute;
  margin-left: 40px;
  z-index: 3;
  text-align: left;
}

h1 {
  top: 44%;
  color: #f05aa1;
  font-family: Speltale;
  font-size: 48px;
  font-weight: 500;
  line-height: 52px;
  letter-spacing: 0.05rem;
  margin-left: 40px;
  position: absolute;
  text-align: left;
  z-index: 3;
}

.Credits {
  top: 40px;
}

.Info {
  bottom: 40px;
}
