@font-face {
  font-family: "Speltale";
  src: url("assets/SpeltaleFont-Demo-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@import url("https://fonts.cdnfonts.com/css/pp-neue-montreal");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

::selection {
  color: #f05aa1;
  background-color: transparent;
  mix-blend-mode: difference;
}
body {
  cursor: none;
}

.hero-loading {
  position: relative;
  background: radial-gradient(
    178.47% 81.05% at 50.46% 50.91%,
    #f3f3f3 0%,
    #a6a6a6 100%
  );
  width: 100svw;
  height: 100svh;
  display: grid;
  place-items: center;
  overflow: hidden;
}

.BackgroundGrid {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  opacity: 0;
  animation: fadeinLoad 3.5s cubic-bezier(0.65, 0, 0.35, 1) 2.5s forwards;
}

.Grid {
  width: 100%;
  height: 100%;
  opacity: 1;
}

@media only screen and (max-width: 400px) {
  .Grid {
    transform: scale(2);
  }
}

.ExperiencerDisks {
  z-index: 1;
  display: block;
  background-image: linear-gradient(to top, #d8d7d7, #fff);
  border-radius: 50%;
  box-shadow: 0px 8px 10px 0px #1f213652, inset 0px 4px 1px 1px white,
    inset 0px -3px 10px 1px rgba(204, 198, 197, 0.5);
  float: left;
  height: 300px;
  position: relative;
  width: 300px;
  transition: transform 0.5s ease-in-out;
  opacity: 0;
  animation: fadeinLoad 3s cubic-bezier(0.65, 0, 0.35, 1) 2s forwards,
    scaleUp 3s cubic-bezier(0.65, 0, 0.35, 1) 1s forwards;
}

p {
  font-family: "PP Neue Montreal", sans-serif;
  color: #22193b;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.01rem;
  position: absolute;
  margin-left: 40px;
  z-index: 3;
  text-align: left;
  opacity: 0;
  animation: fadeinLoad 3s cubic-bezier(0.65, 0, 0.35, 1) 2s forwards;
}

@keyframes fadeinLoad {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes scaleUp {
  from {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
}

@media only screen and (max-width: 400px) {
  p {
    color: #22193b;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    position: absolute;
    left: 40%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
  }
}

h1 {
  top: 43%;
  color: #22193b;
  font-family: Speltale;
  font-size: 48px;
  font-weight: 500;
  line-height: 52px;
  letter-spacing: 0.05rem;
  margin-left: 40px;
  position: absolute;
  text-align: left;
  z-index: 3;
  opacity: 0;
  animation: fadeinLoad 3s cubic-bezier(0.65, 0, 0.35, 1) 2s forwards;
}
@media only screen and (max-width: 400px) {
  h1 {
    color: #22193b;
    font-size: 30px;
    font-weight: 500;
    line-height: 35px;
    text-align: center;
    position: absolute;
    left: 40%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
  }
}

.Credits {
  top: 40px;
}

.Info {
  bottom: 40px;
}
@media only screen and (max-width: 400px) {
  .Info {
    top: 90svh;
    width: 450px;
  }
}

.lds-roller,
.lds-roller div,
.lds-roller div:after {
  box-sizing: border-box;
}
.lds-roller {
  z-index: 1;
  position: relative;
  display: inline-block;
  top: 35%;
  left: 38%;
  transform: translate(-50%, -50%) scale(3.5);
  width: 80px;
  height: 80px;
  transform: scale(3.5);
  filter: drop-shadow(30px 30px 40px rgba(101, 91, 96, 0.3))
    drop-shadow(-31px -31px 40px rgba(255, 255, 255, 0.6))
    drop-shadow(4px 4px 10px rgba(255, 255, 255, 0.6));
}
.lds-roller div {
  animation: lds-roller 2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #ffffff;
  margin: -3.6px 0 0 -3.6px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 62.62742px;
  left: 62.62742px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 67.71281px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 70.90963px;
  left: 48.28221px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 70.90963px;
  left: 31.71779px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 67.71281px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 62.62742px;
  left: 17.37258px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12.28719px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Cursor */

#dragMeImage {
  width: 25px;
  height: 25px;
  border: 3px solid #fff;
  border-radius: 50%;
  position: fixed;
  z-index: 1000;
  background-color: transparent;
}

.basic-protect * {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
